<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>MyLinkShortener</title>
</head>
<body>


{#nav-section#}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">My Link Shortener</span>
    </div>
</nav>
{#nav-section-end#}


{#container#}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row pt-5">
        <div class="col"></div>
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <p>This project is for my portfolio demo, if you find yourself here from any search engines please
                    notice we are not guaranteed the uptime of this service.</p>
                <hr>
                <p class="mb-0">Thanks for your attention please use <a href="https://b2n.ir/">B2N</a> service.</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-1">
        <div class="col"></div>
        <div class="col">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Short it</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="text-center pt-4">
        <h3>Recently Shorted Links</h3>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                {% for form in resent_form %}
                    <tr>
                        <th scope="row">{{ form.pk }}</th>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ form.url }}"
                                       aria-label="Url" aria-describedby="basic-addon2"
                                       id="long-{{ form.pk }}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-warning" id='long-{{ form.pk }}'
                                            onclick="myFunction(id='long-{{ form.pk }}')">
                                        <i class="fa fa-files-o" aria-hidden="true" id="copy-btn"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control"
                                       value="http://linkshortner.pythonanywhere.com/{{ form.pk }}"
                                       aria-label="Url" aria-describedby="basic-addon2"
                                       id="short-{{ form.pk }}" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-warning" id='short-{{ form.pk }}'
                                            onclick="myFunction(id='short-{{ form.pk }}')">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{#container-end#}

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<script>
    function myFunction(id) {
        /* Get the text field */
        var copyText = document.getElementById(id);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        {#alert("Link: " + copyText.value + " Copied Successfully.");#}
    }
</script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
-->
</body>
</html>